app:
  title: HomeLab PKI
  version: 1.1.0-dev
  debug: true
paths:
  ca_data: ./ca-data
  logs: ./logs
  openssl: null
defaults:
  root_ca:
    validity_days: 3650
    key_algorithm: RSA
    key_size: 4096
  intermediate_ca:
    validity_days: 1825
    key_algorithm: RSA
    key_size: 4096
  server_cert:
    validity_days: 365
    key_algorithm: RSA
    key_size: 2048
security:
  warn_on_key_download: true
  key_download_confirmation: true
logging:
  level: DEBUG
  format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
  file: ./logs/homelabpki.log
auth:
  enabled: true
  # Set to null to reset password to default: "adminadmin"
  password_hash: "$2b$12$uhPKRoTY./hfl9PZ2HX6VODCYSoWNOOS5.70dvY.ELicYE.KmV7oC"
  session_expiry_hours: 24
